@import "./variables";
@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
body {
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle, #0072ff, #00c6ff); 
  background-size: 300% 300%;
  animation: gradientShift 8s ease infinite;
  color: $text-color;
  margin: 0;
  padding: 0;
}
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .center-div {
    display: flex;
    justify-content: center;
    flex-direction:row;
    align-items: center;
  }

 
  